.container {
  height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/homeBG.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  background-color: #e9e9e9;
}

.title {
  font-family: 'Seaweed Script', cursive;
  color: #414141;
  font-size: 5rem;
  text-align: center;
}

.subHeading {
  font-family: 'Questrial', sans-serif;
  color: #414141;
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (min-width: 280px) and (max-width: 450px) {
  .container {
    background-size: cover;
    background-position: right top;
    background-color: #e9e9e9;
  }

  .landingBody {
    visibility: hidden;
  }
}

@media only screen and (min-width: 700px) and (max-width: 768px) {
  .container {
    justify-content: center;
    align-items: flex-start;
    background-image: url('./images/homeBG.png');
    background-size: cover;
    background-position: right top;
  }

  .title {
    font-size: 3rem;
    position: left;
    padding-left: 1rem;
  }

  .subHeading{
    text-align: left;
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1025px) {
  .container {
    justify-content: center;
    align-items: flex-start;
    background-image: none;
    position: relative;
    background-image: url('./images/homeBG.png');
    background-size: cover;
    background-position: right top;
  }

  .title {
    font-size: 4.5rem;
    position: left;
    padding-left: 1rem;
  }

  .subHeading{
    text-align: left;
    padding-left: 1rem;
    font-size: 2rem;
  }
}